@import "../../variables";
.login {
  margin: 100px auto;
  width: 500px;
  text-align: center;
  .bd {
    margin: 0 auto;
    width: 300px;
    font-size: 30px;
    color: #000000;
  }
  .form {
    width: 340px;
    margin: 50px auto;
    .block {
      box-sizing: border-box;
      margin-top: 10px;
      background: $main-white;
      border: 1px solid #f3f3f3;
      border-radius: 8px;
      padding: 20px 0 9px 12px;
      position: relative;
      .block_input {
        display: flex;
        .label_input {
          width: 100px;
          margin-top: 5px;
        }
        .input {
          box-sizing: border-box;
          width: 211px;
          height: 22px;
          padding: 5px 10px;
          margin: 3px 0 10px 0;
          background: $main-white;
          border: 1px solid #d8d8d8;
          border-radius: 5px;
        }
        .invalid {
          border: 1px solid $main-error;
        }
      }
    }
    .btn {
      margin-top: 20px;
      width: 340px;
      height: 40px;
      padding: 6px 11px;
      border-style: none;
      border-radius: 5px;
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 14px;
      background: $main-disabled;
      color: $main-white;
    }
    .enter {
      background: $main-base;
    }
    .btn:hover {
      cursor: pointer;
    }
    .link {
      color: $main-white;
    }
  }
}

@media (max-width: 576px) {
  .login {
    width: 400px;
  }
}

@media (max-width: 425px) {
  .login {
    width: 300px;
    .btn {
      margin-top: 200px;
      width: 240px;
    }
  }
}
