@import "../../variables";
.login {
  margin-top: 100px;
  text-align: center;


  .bd {
    font-size: 30px;
    color: black;
  }
  
  .btn{
    margin-top: 200px;
    width: 340px;
    height: 40px;
    padding: 6px 11px;
    border-style: none;
    border-radius: 5px;
    font-style: normal;
    font-weight: 00;
    font-size: 20px;
    line-height: 14px;
    background: $main-base;
    
  }
  .btn:hover {
    cursor: pointer;
    background: $main-hover;
  }
  .link{
    color: #ffffff;
  }
}
