.users {
  width: 513px;
  height: 1028px;

  .search {
    display: flex;
    height: 30px;
    width: 513px;
    background: #bdbdbd;
    margin-top: -19px;
    margin-left: -34px;
    .search_user {
      margin-top: 7px;
      margin-left: 34px;
      font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    }
    .input {
      width: 315px;
      box-sizing: border-box;
      padding: 5px 10px;
      margin: 6px 0 6px 12px;

      background: #ffffff;
      border: 1px solid #d8d8d8;
      border-radius: 5px;
    }
  }
  padding: 19px 59px 25px 34px;
  .load_name {
    width: 160px;
  }
  .loading {
    margin-top: 21px;
  }
  .load_count {
    width: 150px;
    margin-left: auto;
  }
  .name {
    margin-top: 20px;
    margin-bottom: 3px;
    width: 300px;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
  }
  .count {
    margin: 10px 0 0 0;
    font-style: normal;
    text-align: right;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
  }
}
@media (max-width: 700px) {
  .users {
    width: 500px;
  }
}
@media (max-width: 576px) {
  .users {
    width: 400px;
  }
}
@media (max-width: 425px) {
  .users {
    width: 300px;
  }
}
