.users{
    width: 152px;
    height:1028px;
    .name{
        margin:19px 0 3px 34px;

        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 16px;
    }
    .search{
        margin:10px 0 0 299px;

        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
    }
}