.users {
  width: 513px;
  height: 1028px;
  padding: 19px 59px 25px 34px;
  .load_name {
    width: 160px;
  }
  .loading {
    margin-top: 21px;
  }
  .load_count {
    width: 150px;
    margin-left: auto;
  }
  .name {
    margin-bottom: 3px;
    width: 300px;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
  }
  .search {
    margin: 10px 0 0 0;
    font-style: normal;
    text-align: right;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
  }
}
