@import "../../variables";
.edit {
  width: 513px;
  min-height: 1028px;
  padding: 13px 41px 25px 36px;
  .flex_sb {
    display: flex;
    justify-content: space-between;
    .name {
      margin: 5px 0 3px 0;

      font-style: normal;
      font-weight: 700;
      font-size: 14px;
      line-height: 16px;
    }
    .btn_edit {
      padding: 6px 11px;
      border-style: none;
      border-radius: 5px;
      font-style: normal;
      font-weight: 00;
      font-size: 12px;
      line-height: 14px;
      color: #ffffff;
    }

    .btn_enabled {
      background: $main-base;
    }
    .btn_disabled {
      background: $main-disabled;
    }
    .btn_enabled:hover {
      cursor: pointer;
      background: $main-hover;
    }
  }
  .loading {
    margin-top: 10px;
  }
  .load_count {
    width: 100px;
    height: 36px;
    margin-left: auto;
  }
  .form {
    .block {
      box-sizing: border-box;
      margin-top: 10px;
      background: #ffffff;
      border: 1px solid #f3f3f3;
      border-radius: 8px;
      padding: 20px 0 9px 12px;
      position: relative;
      .label_input {
        font-style: normal;
        font-weight: 400;
        font-size: 9px;
        line-height: 9px;
        display: block;
      }

      .input_comment {
        padding: 3px 10px;
        box-sizing: border-box;
        max-width: 412px;
        min-width: 412px;
        height: 55px;
        margin: 3px 0 10px 0;

        background: #ffffff;
        border: 1px solid #d8d8d8;
        border-radius: 5px;
      }
    }

    .btn_submit {
      margin-top: 10px;
      width: 85px;
      height: 24.12px;
      padding: 6px 11px;
      border-style: none;
      border-radius: 5px;
      font-style: normal;
      font-weight: 00;
      font-size: 12px;
      line-height: 14px;

      float: right;
      color: #ffffff;
    }
    .btn_enabled {
      background: #52cf4f;
    }
    .btn_disabled {
      background: $main-disabled;
    }
    .btn_enabled:hover {
      cursor: pointer;
      background: #61fc5e;
    }
  }
}
