.user {
  width: 420px;
  height: 73px;
  margin: 18px 34px 0 0;
  padding: 3px 0 10px 10px;
  position: relative;
  background: #f3f3f3;
  border-radius: 8px;
  .flex {
    display: flex;
    margin-top: 7px;
    .base_text {
      font-style: normal;
      font-weight: 400;
      font-size: 11px;
      line-height: 13px;
      color: #a3a3a3;
    }
    .write_text {
      margin-left: 7px;
      font-style: normal;
      font-weight: 400;
      font-size: 11px;
      line-height: 13px;
      color: #000000;
    }
  }
  .link {
    position: absolute;
    left: 347px;
    top: 50px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #4b51ef;
  }
}
@media (max-width: 576px) {
  .user {
    width: 350px;
    .link {
      left: 277px;
    }
  }
}
@media (max-width: 425px) {
  .user {
    width: 250px;
    .link {
      top: 30px;
      left: 180px;
    }
  }
}
