.navigation{
    width:152px;
    height:1028px;
    background: #BDBDBD;
    padding: 35px 0 0 21px;
    .sort{

        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 14px; 
    }
    .btn_sort{
        margin-top: 10px;
        padding:5px 15px;
        border-style: none;
        background: #4B51EF;
        border-radius: 5px;
        color: white;
    }
}