.container {
  width: 665px;
  height: 1028px;
  margin: 0 auto;
}
@media (max-width: 700px) {
  .container {
    width: 500px;
  }
}
@media (max-width: 576px) {
  .container {
    width: 400px;
  }
}
@media (max-width: 425px) {
  .container {
    width: 300px;
  }
}
