@import "../../variables";
.page404 {
  margin-top: 100px;
  text-align: center;

  .error {
    font-size: 200px;
    color: $main-base;
    line-height: 0.75;
  }
  .not_found {
    font-size: 30px;
    color: $main-base;
  }
  .description {
    text-align: center;
    margin: 20px auto;
    width: 450px;
    font-size: 20px;
  }

  .btn {
    width: 340px;
    height: 40px;
    padding: 6px 11px;
    border-style: none;
    border-radius: 5px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 14px;
    background: $main-base;
  }
  .btn:hover {
    cursor: pointer;
    background: $main-hover;
  }
  .link {
    color: #ffffff;
  }
}
